doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="icon" type="image/png" href="favicon.png")
        title kotlinjs-hexagen
    body
        div.container
            div.row.content
                button#restart.btn Restart
        div.container
            div.row.content
                canvas#main
        script(src="bundle.js")
